body {
    background-image: url("../images/dark-triangles.png")
}

#instructions {
    display: none;
}

@media screen and (max-width: 768px) {

    .crystal-image {

        width: 100%;

    }

    .button-column {

        padding: 5px;
    }

    .mobilePadding {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        text-align: center;
    }

    .winLoseTag {
        display: none;
    }

}